body{
	background-image:url('images/background.png');
}
div.container{
	width:1050px;
	height:695px;
	margin:20px auto;
}
div.icon{
	cursor:pointer;
	float:left;
	overflow:hidden;
	position:absolute;
	-webkit-transition:all 500ms;
	border:1px solid black;
	-webkit-box-shadow:1px 1px 5px 1px black;
}
div.icon1{
	width:510px;
	height:280px;
	background-color:rgba(154,205,52,0.8);
	float:left;
	background-image:url('images/home.png');
	background-position:center center;
	background-repeat:no-repeat;
}
div.icon2{
	width:530px;
	height:150px;
	float:left;
	background-color:rgba(0,96,45,0.8);
	background-image:url('images/blog.png');
	background-repeat:no-repeat;
	background-position:center center;
	margin-left:520px;
}
div.icon3{
	width:120px;
	height:120px;
	background-color:rgba(254,0,0,0.8);
	margin-top:160px;
	position:absolute;
	margin-left:520px;
	float:left;
	border:1px solid black;
	-webkit-box-shadow:1px 1px 5px 1px black;
}
div.icon4{
	width:400px;
	height:310px;
	background-color:rgba(254,203,2,0.8);
	background-image:url('images/work.png');
	background-repeat:no-repeat;
	background-position:center center;
	margin-left:650px;
	margin-top:160px;
}
div.icon5{
	width:180px;
	height:180px;
	background-color:rgba(0,0,102,0.8);
	margin-top:290px;
	position:absolute;
	float:left;
	border:1px solid black;
	-webkit-box-shadow:1px 1px 5px 1px black;

}
div.icon6{
	width:450px;
	height:180px;
	background-color:rgba(0,200,252,0.8);
	background-image:url('images/information.png');
	background-repeat:no-repeat;
	background-position:center center;
	margin-left:190px;
	margin-top:290px;
}
div.icon7{
	width:520px;
	height:210px;
	background-color:rgba(255,101,1,0.8);
	background-image:url('images/contact.png');
	background-repeat:no-repeat;
	background-position:center center;
	margin-top:480px;
}
div.icon8{
	width:300px;
	height:210px;
	background-color:rgba(150,0,151,0.8);
	background-image:url('images/logo.png');
	background-repeat:no-repeat;
	background-position:center center;
	margin-left:530px;
	position:absolute;
	margin-top:480px;
	float:left;
	border:1px solid black;
	-webkit-box-shadow:1px 1px 5px 1px black;
}
div.icon9{
	width:210px;
	height:210px;
	background-color:rgba(247,95,146,0.8);
	margin-left:840px;
	position:absolute;
	margin-top:480px;
	float:left;
	border:1px solid black;
	-webkit-box-shadow:1px 1px 5px 1px black;
}
div.container p{
	font-size:20px;
	font-family:"Comic Sans MS", cursive;
	margin-left:10px;
	margin-top:-100px;
}